

            <!-- ====================================================
            ================= CONTENT ===============================
            ===================================================== -->
<section id="content">

                <div class="page page-ui-tiles" style="background-image: url(assets/images/map_blue.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;">
					


<input type="hidden" id="hlive" value="0"> 
<input type="hidden"  id="hstake" value="0"> 
<input type="hidden"  id="hemail" value="godwinide@gmail.com"> 
<input type="hidden"  id="hstart" value="0"> 
<input type="hidden"  id="hchance" value="2"> 
<input type="hidden"  id="hbalance" value="90"> 
<input type="hidden"  id="htarget" value="0"> 
<input type="hidden"  id="hsignals" value="90"> 
<input type="hidden"  id="hmainte" value="99"> 
<input type="hidden"  id="hwallet" value="3LEjG2YhFcagNBtUxokRSHnEADCyxXQKAj"> 
<input type="hidden"  id="hpassword" value="john123"> 
<input type="hidden"  id="hswith" value="0"> 
<input type="hidden"  id="hcomm" value=""> 
<input type="hidden"  id="hcommpercent" value=""> 

<div class="row">
                                       

<!-- col -->
<div  class="card-container col-lg-2 col-sm-4 col-xs-6 ">
    <div class="card">
        <div class="front bg-slategray" style="border-bottom: 2px solid #f07000 !important;">

            <!-- row   xbal -->
            <!-- row   xbal -->
            <div class="row">
                <!-- col -->
                <div class="col-xs-3">
                    <i class="glyphicon glyphicon-usd fa-2x "></i>
                </div>
                <!-- /col -->
                <!-- col -->
                <div class="col-xs-6">
                    <p id="" class="text-lg text-strong mb-0 xeffect">0.00</p>
                   
                    <span>Deposits</span>
                </div>
                <!-- /col -->
            </div>
            <!-- /row -->

        </div>
        <div class="back bg-slategray-inverse">

            <!-- row -->
            <div class="row">
                <!-- col -->
                <div class="col-xs-5">
                    <a href="deposit.php"><i class="icon-credit-card fa-2x"></i> Deposit</a>
                </div>
                <!-- /col -->
                <!-- col -->
                <div class="col-xs-5">
                    <a href="withdrawal.php"><i class="fa fa-suitcase fa-2x"></i> Withdraw</a>
                </div>
                <!-- /col -->
            
            </div>
            <!-- /row -->

        </div>
    </div>
</div>
<!-- /col -->
<!-- col -->
  <div class="card-container col-lg-2 col-sm-4 col-xs-6">
    <div class="card">
        <div class="front bg-slategray" style=" border-bottom: 2px solid rgba(210, 229, 240, 0.79);">

            <!-- row -->
            <div class="row">
                <!-- col -->
                <div class="col-xs-3">
                 <i class="fas fa-piggy-bank fa-2x" style="color: green;"></i>
                </div>
                <!-- /col -->
                <!-- col -->
                <div class="col-xs-8">
                    <p id="" class="text-lg text-strong mb-0 xeffect">0.00</p>
                    <span>Earnings</span>
                </div>
                <!-- /col -->
            </div>
            <!-- /row -->

        </div>
        <div class="back bg-slategray-inverse-other" style="border-bottom: 2px solid green;">

            <!-- row -->
            <div class="row">
                <!-- col -->
                <div class="col-xs-5">
                    <a><i class="fas fa-piggy-bank fa-2x"></i></a>
                </div>
                <!-- /col -->
                <!-- col -->
                <div class="col-xs-6">
                    <a> <p id="" class="text-lg text-strong mb-0 xeffect">0.00</p>
                    <span>Earnings</span></a>
                </div>
                <!-- /col -->
               
            </div>
            <!-- /row -->

        </div>
    </div>
</div>
<!-- /col -->

  <!-- col -->
  <div class="card-container col-lg-2 col-sm-4 col-xs-6">
    <div class="card">
        <div class="front bg-slategray" style="border-bottom: 2px solid rgba(210, 229, 240, 0.79);">

            <!-- row -->
            <div class="row">
                <!-- col -->
                <div class="col-xs-3">
                 <i class="fas fa-donate fa-2x" style="color: green;"></i>
                </div>
                <!-- /col -->
                <!-- col -->
                <div class="col-xs-8">
                    <p id="balance" class="text-lg text-strong mb-0 xeffect">0</p>
                    <span>Balance</span>
                </div>
                <!-- /col -->
            </div>
            <!-- /row -->

        </div>
        <div class="back bg-slategray-inverse-other" style="border-bottom: 2px solid green;">

             <!-- row -->
            <div class="row">
                <!-- col -->
                <div class="col-xs-4">
                    <a><i class="fas fa-check-circle fa-2x"></i></a>
                </div>
                <!-- /col -->
                <!-- col -->
                <div class="col-xs-6">
                    <a> <p id="balance" class="text-lg text-strong mb-0 xeffect">0</p>
                    <span>Balance</span></a>
                </div>
                <!-- /col -->
               
            </div>
            <!-- /row -->
        </div>
    </div>
</div>
<!-- /col -->                         <!-- col -->
                        <div class="card-container col-lg-2 col-sm-4 col-xs-6">
                            <div class="card">
                                <div class="front bg-slategray" style="border-bottom: 2px solid rgba(210, 229, 240, 0.79);">

                                    <!-- row -->
                                    <div class="row">
                                        <!-- col -->
                                        <div class="col-xs-3 ">
                                         <i class="fas fa-donate fa-2x" style="color: red;"></i>
                                        </div>
                                        <!-- /col -->
                                        <!-- col -->
                                        <div class="col-xs-8">
                                                                                        <p id="" class="text-lg text-strong mb-0 xeffect">0.00</p>
                                            <span>Withdrawn</span>
                                        </div>
                                        <!-- /col -->
                                    </div>
                                    <!-- /row -->

                                </div>
                                <div class="back bg-slategray-inverse-other">

                                          <!-- row -->
                                    <div class="row">
                                        <!-- col -->
                                        <div class="col-xs-4">
                                            <a><i class="fas fa-donate fa-2x"></i></a>
                                        </div>
                                        <!-- /col -->
                                        <!-- col -->
                                        <div class="col-xs-6">
                                            <a> <p id="" class="text-lg text-strong mb-0 xeffect">0.00</p>
                                            <span>withdrawn</span></a>
                                        </div>
                                        <!-- /col -->
                                       
                                    </div>
                                    <!-- /row -->

                                </div>
                            </div>
                        </div>
                        <!-- /col -->

                         <!-- col -->
                        <div class="card-container col-lg-2 col-sm-4 col-xs-6">
                            <div class="card">
                                <div class="front bg-slategray" style="border-bottom: 2px solid rgba(210, 229, 240, 0.79);">

                                    <!-- row -->
                                    <div class="row">
                                        <!-- col -->
                                        <div class="col-xs-4">
                                         <i class="fas fa-check-circle fa-3x" style="color: green;"></i>
                                        </div>
                                        <!-- /col -->
                                        <!-- col -->
                                        <div class="col-xs-8">
                                            <p id="won" class="text-lg text-strong mb-0 xeffect">Mini</p>
                                            <span>Plan</span>
                                        </div>
                                        <!-- /col -->
                                    </div>
                                    <!-- /row -->

                                </div>
                                <div class="back bg-slategray-inverse-other" style="border-bottom: 2px solid green;">

                                     <!-- row -->
                                    <div class="row">
                                        <!-- col -->
                                        <div class="col-xs-6">
                                            <a><i class="fas fa-check-circle fa-3x"></i></a>
                                        </div>
                                        <!-- /col -->
                                        <!-- col -->
                                        <div class="col-xs-6">
                                            <a>   <p id="won" class="text-lg text-strong mb-0 xeffect">Mini</p>
                                            <span>Plan</span></a>
                                        </div>
                                        <!-- /col -->
                                       
                                    </div>
                                    <!-- /row -->
                                </div>
                            </div>
                        </div>
                        <!-- /col -->

                        <!-- col -->
                        <div class="card-container col-lg-2 col-sm-4 col-xs-6">
                            <div class="card">
                                <div class="front bg-slategray" style="        border-bottom: 2px solid rgba(210, 229, 240, 0.79);">

                                    <!-- row -->
                                    <div class="row">
                                        <!-- col -->
                                        <div class="col-xs-3">
                                         <i class="fas fa-check-circle fa-2x"></i>
                                        </div>
                                        <!-- /col -->
                                        <!-- col -->
                                        <div class="col-xs-8">
                                            <p id="loss" class="text-lg text-strong mb-0 xeffect">Activated</p>
                                            <span>Status</span>
                                        </div>
                                        <!-- /col -->
                                    </div>
                                    <!-- /row -->

                                </div>
                                <div class="back bg-slategray-inverse-other" style="border-bottom: 2px solid red;">

                                    <!-- row -->
                                    <div class="row">
                                        <!-- col -->
                                        <div class="col-xs-3">
                                            <a><i class="fas fa-check-circle fa-2x"></i></a>
                                        </div>
                                        <!-- /col -->
                                        <!-- col -->
                                        <div class="col-xs-6">
                                            <a> <p id="loss" class="text-lg text-strong mb-0 xeffect">Activated</p>
                                            <span>Status</span></a>
                                        </div>
                                        <!-- /col -->
                                       
                                    </div>
                                    <!-- /row -->

                                </div>
                            </div>
                        </div>
                        <!-- /col -->

                    </div>
                    <!-- /row --><div class="row">










                            <!-- col -->
                            <div class="col-md-8 pb-0">

                                <!-- tile -->
                                <section class="tile tile-simple bg-slategray">

                                    <!-- tile body -->
                                    <div class="tile-body p-0">

                                        <div role="tabpanel">

                                            <!-- Nav tabs -->
                                            <ul class="nav nav-tabs tabs-dark" role="tablist">
                                             <li role="presentation" class="active"><a href="account.php#accountTab" aria-controls="settingsTab" role="tab" data-toggle="tab">Account</a></li>
                                              <li role="presentation"><a href="account.php#settingsTab" aria-controls="settingsTab" role="tab" data-toggle="tab">Settings</a></li>
                                            </ul>

                                            <!-- Tab panes -->
                                            <div class="tab-content">
                                            <div role="tabpanel" class="tab-pane active" id="accountTab">

                                                        <div class="wrap-reset">

                                <!-- tile -->
                                <section class="tile tile-simple bg-slategray">

                                    <!-- tile widget -->
                                    <div class="tile-widget p-30 text-center">

                                        <h4 class="mb-0"><strong><%= req.user.fullname %></strong></h4>
                                        <strong> Plan:</strong><h5 class="text-success"><strong>   Mini</strong></h5>
                                                   <strong> Investment Capital:</strong><h5 class="text-success"><strong> <%= req.user.currency%><%= req.user.deposit %> </strong></h5>
                                                   <span class="text-muted"><%= req.user.email %></span> <br>
                                                   <span class="text-muted text-capitalize">Activated</span>
                                        <div class="mt-10">
                                            <button id="balance" class="btn p-5 pt-10 btn-lg btn-rounded-40 btn-sm mb-5 btn-greensea">                    <p id="balance" class="text-lg text-strong mb-0 xeffect">0.00</p></button>
                                           
                                        </div>
                                      
                                           
                                        <div class="h3">
                                            <label class="col-xs-8 control-label">Auto Trade:</label>
                                            <div class="col-xs-4 control-label">
                                                <div class="onoffswitch primary">
                                                    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="show-offline" checked="" disabled="">
                                                    <label class="onoffswitch-label" for="show-offline">
                                                        <span class="onoffswitch-inner"></span>
                                                        <span class="onoffswitch-switch"></span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    

                                       

                                    </div>
                                    <!-- /tile widget -->

                                    <!-- tile body -->
                                 
                                    <!-- /tile body -->

                                </section>
                                <!-- /tile -->


                                                        </div>

                                            </div>
      <div role="tabpanel" class="tab-pane " id="settingsTab">

            <div class="wrap-reset">


                      <div class="row">
                    <div class="form-group col-md-12 legend">
                      <h4><strong>Security</strong> Settings</h4>
                         <p class="text-capitalize">Secure your account</p>
             </div>
         </div>
     <div class="row">

<span style="color:#FF0000; font-weight:bold"></span>

<span style="color:#FF0000; font-weight:bold"></span>
<span style="color:#070; font-weight:bold"></span>
       <form action="" method="POST">

        <div class="form-group col-sm-6">
             <label for="email">Email</label>
              <input type="text" class="form-control" id="email" value="godwinide@gmail.com" readonly="">
         </div>

<span style="color:#FF0000; font-weight:bold"></span>
             <div class="form-group col-sm-6">
                 <label for="password">Current Password</label>
                     <input type="password" class="form-control" name="OldPassword" id="current" value="" required="">
                    </div>


          </div>

         <div class="row">

         <div class="form-group col-sm-6">
            <label for="new-password">New Password</label>
              <input type="password" class="form-control" minlength="8" placeholder="New password" name="newpassword" id="new" value="" required="">
            </div>

             <div class="form-group col-sm-6">
                 <label for="password-repeat">Confirm Password</label>
                        <input type="password" class="form-control" minlength="8" placeholder="Confirm new password" value="" name="password2" id="confirm" required="">
                </div>

             </div><center>   <button id="form_submit" name="changepass" type="submit" class="btn btn-success btn-rounded-10 right">Submit</button>
                </center>
            <div id="maggi"></div>

        </div>
</form>
    </div>
                                                
 </div>

                                        </div>

                                    </div>
                                    <!-- /tile body -->

                                </section>
                                <!-- /tile -->
                            </div>
                            <!-- /col -->
                       
                                                   <!-- col -->


<div class="col-md-4">

                            <!-- tile -->
                            <section class="tile bg-slategray" fullscreen="isFullscreen02">

                       

                                <!-- tile body -->
                                <div class="tile-body p-0 row">

<style>
body { background-color: #30303d; color: #fff; }
#chartdiv {
  width: 100%;
  height: 500px;
}
</style>

<!-- Resources -->
<script src="https://www.amcharts.com/lib/4/core.js"></script>
<script src="https://www.amcharts.com/lib/4/charts.js"></script>
<script src="https://www.amcharts.com/lib/4/themes/dark.js"></script>
<script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>
<!-- Chart code -->
<script>
am4core.ready(function() {

// Themes begin
am4core.useTheme(am4themes_dark);
am4core.useTheme(am4themes_animated);
// Themes end

var chart = am4core.create("chartdiv", am4charts.XYChart);
chart.hiddenState.properties.opacity = 0;

chart.padding(0, 0, 0, 0);

chart.zoomOutButton.disabled = true;

var data = [];
var visits = 10;
var i = 0;

for (i = 0; i <= 30; i++) {
    visits -= Math.round((Math.random() < 0.5 ? 1 : -1) * Math.random() * 10);
    data.push({ date: new Date().setSeconds(i - 30), value: visits });
}

chart.data = data;

var dateAxis = chart.xAxes.push(new am4charts.DateAxis());
dateAxis.renderer.grid.template.location = 0;
dateAxis.renderer.minGridDistance = 30;
dateAxis.dateFormats.setKey("second", "ss");
dateAxis.periodChangeDateFormats.setKey("second", "[bold]h:mm a");
dateAxis.periodChangeDateFormats.setKey("minute", "[bold]h:mm a");
dateAxis.periodChangeDateFormats.setKey("hour", "[bold]h:mm a");
dateAxis.renderer.inside = true;
dateAxis.renderer.axisFills.template.disabled = true;
dateAxis.renderer.ticks.template.disabled = true;

var valueAxis = chart.yAxes.push(new am4charts.ValueAxis());
valueAxis.tooltip.disabled = true;
valueAxis.interpolationDuration = 500;
valueAxis.rangeChangeDuration = 500;
valueAxis.renderer.inside = true;
valueAxis.renderer.minLabelPosition = 0.05;
valueAxis.renderer.maxLabelPosition = 0.95;
valueAxis.renderer.axisFills.template.disabled = true;
valueAxis.renderer.ticks.template.disabled = true;

var series = chart.series.push(new am4charts.LineSeries());
series.dataFields.dateX = "date";
series.dataFields.valueY = "value";
series.interpolationDuration = 500;
series.defaultState.transitionDuration = 0;
series.tensionX = 0.8;

chart.events.on("datavalidated", function () {
    dateAxis.zoom({ start: 1 / 15, end: 1.2 }, false, true);
});

dateAxis.interpolationDuration = 500;
dateAxis.rangeChangeDuration = 500;

document.addEventListener("visibilitychange", function() {
    if (document.hidden) {
        if (interval) {
            clearInterval(interval);
        }
    }
    else {
        startInterval();
    }
}, false);

// add data
var interval;
function startInterval() {
    interval = setInterval(function() {
        visits =
            visits + Math.round((Math.random() < 0.5 ? 1 : -1) * Math.random() * 5);
        var lastdataItem = series.dataItems.getIndex(series.dataItems.length - 1);
        chart.addData(
            { date: new Date(lastdataItem.dateX.getTime() + 1000), value: visits },
            1
        );
    }, 1000);
}

startInterval();

// all the below is optional, makes some fancy effects
// gradient fill of the series
series.fillOpacity = 1;
var gradient = new am4core.LinearGradient();
gradient.addColor(chart.colors.getIndex(0), 0.2);
gradient.addColor(chart.colors.getIndex(0), 0);
series.fill = gradient;

// this makes date axis labels to fade out
dateAxis.renderer.labels.template.adapter.add("fillOpacity", function (fillOpacity, target) {
    var dataItem = target.dataItem;
    return dataItem.position;
})

// need to set this, otherwise fillOpacity is not changed and not set
dateAxis.events.on("validated", function () {
    am4core.iter.each(dateAxis.renderer.labels.iterator(), function (label) {
        label.fillOpacity = label.fillOpacity;
    })
})

// this makes date axis labels which are at equal minutes to be rotated
dateAxis.renderer.labels.template.adapter.add("rotation", function (rotation, target) {
    var dataItem = target.dataItem;
    if (dataItem.date && dataItem.date.getTime() == am4core.time.round(new Date(dataItem.date.getTime()), "minute").getTime()) {
        target.verticalCenter = "middle";
        target.horizontalCenter = "left";
        return -90;
    }
    else {
        target.verticalCenter = "bottom";
        target.horizontalCenter = "middle";
        return 0;
    }
})

// bullet at the front of the line
var bullet = series.createChild(am4charts.CircleBullet);
bullet.circle.radius = 5;
bullet.fillOpacity = 1;
bullet.fill = chart.colors.getIndex(0);
bullet.isMeasured = false;

series.events.on("validated", function() {
    bullet.moveTo(series.dataItems.last.point);
    bullet.validatePosition();
});

}); // end am4core.ready()
</script>

<!-- HTML -->
<div id="chartdiv"></div>
                            </div></section>
                            <!-- /tile -->

                        </div>
                        <!-- /col -->

                    










                        </div>
                        <!-- /row -->



                    </div>
                    <!-- /page content -->

</section>

